<!-- views/redirect.ejs -->
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Перенаправлення...</title>
</head>
<body>
  <h1 style="text-align:center; font-family:sans-serif;">Зачекайте, перенаправляємо на WayforPay...</h1>
  <form id="wayforpay-form" action="https://secure.wayforpay.com/pay" method="POST">
    <input type="hidden" name="merchantAccount" value="<%= merchantAccount %>">
    <input type="hidden" name="merchantAuthType" value="SimpleSignature">
    <input type="hidden" name="merchantDomainName" value="<%= merchantDomainName %>">
    <input type="hidden" name="orderReference" value="<%= orderId %>">
    <input type="hidden" name="orderDate" value="<%= orderDate %>">
    <input type="hidden" name="amount" value="<%= amount %>">
    <input type="hidden" name="currency" value="<%= currency %>">
    <input type="hidden" name="productName[]" value="<%= courseName %>">
    <input type="hidden" name="productCount[]" value="1">
    <input type="hidden" name="productPrice[]" value="<%= amount %>">
    <input type="hidden" name="clientFirstName" value="<%= clientName %>">
    <input type="hidden" name="clientEmail" value="<%= clientEmail %>">
    <input type="hidden" name="serviceUrl" value="<%= serviceUrl %>">
    <input type="hidden" name="returnUrl" value="<%= returnUrl %>">
    <input type="hidden" name="failUrl" value="<%= failUrl %>">
    <input type="hidden" name="merchantSignature" value="<%= signature %>">
  </form>
  <script>document.getElementById('wayforpay-form').submit();</script>
</body>
</html>
